@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>CJB Sample Project</h2>
    <p class="lead">Receipts Register.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <a href="/Receipts">View or enter a receipt</a>
    </div>   
</div>